.header {
    height: 200px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 0px;
    text-align: center;
    color: rgb(15, 18, 228);
    font-size: 4rem;
  }

  h2 {
    text-align: center;
  }