.navbar li {
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  
}

li.header {
  line-height: 4;
}

/* li.score1 {
  margin-left: 75%;
}

li.score2 {
  margin-left: 82%;
} */

.navbar {
  background: rgb(106, 173, 255);
}

li {
  font-family: "sans-sefif";
}

ul {
  height: 100px;
  margin: 0;
}